<link rel="stylesheet" href="/css/user.css">
    <h1>Codeit | Profile</h1>
    <div id="image">
        <img src="<%= cuser.avatar %>" alt="<%= cuser.name %>">
    </div>
    
    <% if(cuser.id==locals.user.id){ %>   
        <form action="/users/update/<%= cuser.id %>" enctype="multipart/form-data" method="post">
            <input type="text" name="name" placeholder="Your Name" value="<%= cuser.name %>"  required>
            <input type="email" name="email" placeholder="Your Name" value="<%= cuser.email %>" required>
            <input type="file" name="avatar" placeholder="profile picture" >
            <input type="submit" value="update"> 
        </form>
    <% }else{ %>
        <p><%= cuser.name %></p>
        <p><%= cuser.email %></p>
    <% } %>